header {
  padding: 12px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    height: 64px;
  }

  & nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  & a {
    transition: transform .2s;
  }

  & a:hover {
    transform: scale(1.05);
  }

  & .active {
    font-weight: bold;
  }
}

